@font-face {
  font-family: 'cera_round_probold';
  src: url('../../src/fonts/cera_round_pro_bold-webfont.eot');
  src: url('../../src/fonts/cera_round_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/cera_round_pro_bold-webfont.woff2') format('woff2'),
  url('../../src/fonts/cera_round_pro_bold-webfont.woff') format('woff'),
  url('../../src/fonts/cera_round_pro_bold-webfont.ttf') format('truetype'),
  url('../../src/fonts/cera_round_pro_bold-webfont.svg#cera_round_probold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_round_promedium';
  src: url('../../src/fonts/ceraroundpro-medium-webfont.eot');
  src: url('../../src/fonts/ceraroundpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/ceraroundpro-medium-webfont.woff2') format('woff2'),
  url('../../src/fonts/ceraroundpro-medium-webfont.woff') format('woff'),
  url('../../src/fonts/ceraroundpro-medium-webfont.ttf') format('truetype'),
  url('../../src/fonts/ceraroundpro-medium-webfont.svg#cera_round_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}