.header {
  background-image: url("../../src/img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__logo {
    width: 200px;
  }
}