.header {
  background-image: url("../../src/img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  &__content {
    padding-top: 110px;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
  }

  &__logo {
    width: 200px;
  }
  &__title {
    padding-bottom: 50px;
  }
  &__description {
    font-size: 24px;
    line-height: 1.5;
    color: $white;
    padding-bottom: 40px;
  }
  &__btn-content {
    margin-bottom: 150px;
  }
  &__slider {
    max-width: 75px;
    margin: 0 auto;
    padding-bottom: 45px;
  }
}