.header-nav {


  &__list {
    display: flex;

    li {
      margin: 0 25px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

  }


  &__link {
    color: $white;
    position: relative;
    transition: color ease-in-out 0.15s;


    &.active {
      &:before {
        content:"\2022";
        color: $white;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        bottom: -15px;
        left: 50%;
      }
    }

    &:hover {
      opacity: 0.8;
      transition: color ease-in-out 0.3s;
    }
  }

}